CONFIG_KEYBOARD_GPIO=m
CONFIG_GPIO_WATCHDOG=y
CONFIG_GPIO_WATCHDOG_ARCH_INITCALL=y
CONFIG_INPUT_KEYBOARD=y
CONFIG_KEYBOARD_ADC=m
CONFIG_NEW_LEDS=y
CONFIG_LEDS_CLASS=m
CONFIG_LEDS_GPIO=m
CONFIG_LEDS_PWM=m
CONFIG_LEDS_TRIGGERS=y
CONFIG_LEDS_USER=m
CONFIG_LEDS_TRIGGER_HEARTBEAT=m
CONFIG_INPUT=m
CONFIG_INPUT_TOUCHSCREEN=y
CONFIG_TOUCHSCREEN_EDT_FT5X06=m
CONFIG_INPUT_EVDEV=m
CONFIG_SCSI=m
CONFIG_BLK_DEV_SD=m
CONFIG_USB_STORAGE=m
CONFIG_USB_UAS=m
CONFIG_USB_EHCI_HCD=m
CONFIG_USB_OHCI_HCD=m
CONFIG_USB_OHCI_HCD_PLATFORM=m
CONFIG_RTC_DRV_PCF85063=m
CONFIG_CFG80211_WEXT=y
CONFIG_MAC80211_MESH=y
CONFIG_PWRSEQ_EMMC=m
CONFIG_NETFILTER=y
CONFIG_NETFILTER_ADVANCED=y
CONFIG_NF_CONNTRACK=m
CONFIG_IP_NF_IPTABLES=m
CONFIG_NF_DUP_IPV4=m
CONFIG_NF_LOG_ARP=m
CONFIG_NF_LOG_IPV4=m
CONFIG_NF_REJECT_IPV4=m
CONFIG_IP_NF_ARPTABLES=m
CONFIG_CRYPTO_MD5=m
CONFIG_CRYPTO_SHA256=m
CONFIG_VIDEO_IMX307=m
CONFIG_AUTOFS4_FS=m
CONFIG_CGROUPS=y
CONFIG_PSTORE=y
CONFIG_VIDEO_ROCKCHIP_CIF=m
CONFIG_VIDEO_ROCKCHIP_ISP=m
CONFIG_PHY_ROCKCHIP_CSI2_DPHY=m
CONFIG_ROCKCHIP_DVBM=m
CONFIG_ROCKCHIP_RKNPU=m
CONFIG_ROCKCHIP_MULTI_RGA=m
CONFIG_ROCKCHIP_RVE=m
CONFIG_BT=m
CONFIG_LOG_BUF_SHIFT=15
CONFIG_USB_CONFIGFS_RNDIS=y
CONFIG_NFSD=m
CONFIG_NFSD_V3=y
CONFIG_NFSD_V3_ACL=y
CONFIG_FUSE_FS=m
CONFIG_CUSE=m
CONFIG_VIRTIO_FS=m
