// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2024 Guangzhou EASY EAI Technology Co., Ltd.
 */

#include "rv1106g3.dtsi"
#include "rv1106-amp.dtsi"
#include <dt-bindings/input/input.h>

/ {
	chosen {
		bootargs = "earlycon=uart8250,mmio32,0xff4c0000 console=ttyFIQ0 root=/dev/mmcblk0p5 rootfstype=ext4 rootwait snd_soc_core.prealloc_buffer_size_kbytes=16 coherent_pool=0";
	};

	acodec_sound: acodec-sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "rv1106-acodec";
		simple-audio-card,format = "i2s";
		simple-audio-card,mclk-fs = <256>;
		simple-audio-card,cpu {
			sound-dai = <&i2s0_8ch>;
		};
		simple-audio-card,codec {
			sound-dai = <&acodec>;
		};
	};

	restart-poweroff {
		compatible = "restart-poweroff";
	};

	vcc_1v8: vcc-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_1v8";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};

	vccio_sd: vccio-sd {
		compatible = "regulator-gpio";
		regulator-name = "vccio_sd";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <3300000>;
		gpios = <&gpio3 RK_PD3 GPIO_ACTIVE_HIGH>;
		states = <3300000 1
			  1800000 0>;
		pinctrl-names = "default";
		pinctrl-0 = <&sdmmc_volt>;
	};

	sys-ldo {
		compatible = "linux,ldo-gpio";
		pinctrl-names = "default";
		pinctrl-0 = <&multi_pwr_en>;
		gpios = <&gpio0 RK_PA3 GPIO_ACTIVE_HIGH>;
	};

	/* vcc_multi: vccio-multi {
		compatible = "regulator-fixed";
		regulator-name = "vcc_multi";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpios = <&gpio0 RK_PA3 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&multi_pwr_en>;
		enable-active-high;
		regulator-boot-on;
		regulator-always-on;
		regulator-state-mem {
			regulator-off-in-suspend;
		};
	}; */
};

&acodec {
	#sound-dai-cells = <0>;
	status = "okay";
};

&emmc {
	bus-width = <8>;
	cap-mmc-highspeed;
	non-removable;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	rockchip,default-sample-phase = <90>;
	no-sdio;
	no-sd;
	status = "okay";
};

&fiq_debugger {
	rockchip,irq-mode-enable = <1>;
	status = "okay";
};

&gmac {
	status = "okay";
};

&i2s0_8ch {
	#sound-dai-cells = <0>;
	status = "okay";
};

&mpp_srv {
	status = "okay";
};

&mpp_vcodec {
	status = "okay";
};

&npu {
	status = "okay";
};

&pinctrl {
	sdmmc {
	/omit-if-no-ref/
		sdmmc_volt: sdmmc-volt {
			rockchip,pins = <3 RK_PD3 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
	power {
	/omit-if-no-ref/
		multi_pwr_en: multi-pwr-en {
			rockchip,pins = <0 RK_PA3 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&rga2 {
	status = "okay";
};

&rkdvbm {
	status = "okay";
};

&rkvenc {
	status = "okay";
};

&rkvenc_pp {
	status = "okay";
};

&rmii_phy {
	bgs,increment = <0>;
};

&rng {
	status = "okay";
};

&rtc {
	status = "disabled";
};

&rve {
	status = "okay";
};

&saradc {
	status = "okay";
	vref-supply = <&vcc_1v8>;
};

&tsadc {
	status = "okay";
};

&u2phy {
	status = "okay";
};

&u2phy_otg {
	status = "okay";
};

&usbdrd {
	status = "okay";
};

&usbdrd_dwc3 {
	extcon = <&u2phy>;
	status = "okay";
};
